:root {
  --light-blue: #6dcace;
  --dark-blue: #1a2a43;
}

* {
  font-family: niveau-grotesk, sans-serif;
  margin: 0;
}

.nav-item a, .btn {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

/*------------------------------------Buttons */

.btn--light-blue {
  background-color: var(--light-blue);
  border-radius: 60px;
  padding: 10px 30px !important;
  
}

.btn--white-outline {
  border-radius: 60px;
  padding: 10px 30px !important;
}



.background-primary {
  background: url( "background-prim.svg" ) no-repeat fixed center;
  height: 100vh;
}
